In [2]:
%matplotlib inline

import pymysql
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import scale
from IPython.display import display, HTML

In [40]:
conn = pymysql.connect(host='104.196.5.55', user='root', passwd='', db='nfl')

cur = conn.cursor()

In [113]:
#QB data

#for each tbl in list of tbls:
#    query_sql(tbl_name)

#def query_sql(tbl_name):
#    strSQL = ("Select * from" + tbl_name)
#    print strSQL

#Create pass dataframe with passes 40 yards and over
strSQL = ("Select * from pass")
df_pass = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))

#Create offense dataframe with all offense data
strSQL = ("Select * from offense")
df_offense = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))

#Create offense dataframe with all offense data
strSQL = ("Select * from td")
df_td = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))

#Create play dataframe with all offense data
strSQL = ("Select * from play")
df_play = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))

In [92]:
def query_sql(tbl_name):
    global df
    strSQL = ("Select * from " + tbl_name)
    df = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))
    df.name = "df_"+tbl_name
    print df.name
    
query_sql("fumble")

df_fumble

In [114]:
#Grab all relevant tables for QB

#Passing yards
pass_yrds = df_all_offense_2015['py']/5*.2

#TD Passes
pass_tds = df_all_offense_2015['tdp']*4


#pass_two_pt =

#40+ yard td pass

#50+ yard td pass

#Int thrown
#pass_ints = df_all_offense_2015['ints']*-2

#2 pt conversions

In [139]:
#Inner join pass table and td table on play id to get passer
#Keep pid, yds_y, psr, trg
df_pass_td = pd.merge(df_td,df_pass,how='inner',on='pid')
#df_pass_td should have all plays that are tds
df_pass_td = df_pass_td[['pid','yds_y','psr','trg']]
df_pass_td_4050 = df_pass_td[df_pass_td['yds_y']>39]

#Merge new pass td table with play table to get gid
df_pass_td_gid = pd.merge(df_pass_td_4050,df_play,how='left',on='pid')
df_pass_td_gid = df_pass_td_gid[['pid','gid','yds_y','psr','trg']]

#Create binary for 40 yard and 50 yard td
df_pass_td_gid['40_yd_td'] = df_pass_td_gid['yds_y'].map(lambda x: 1 if 40 <= x < 50 else 0)
df_pass_td_gid['50_yd_td'] = df_pass_td_gid['yds_y'].map(lambda x: 1 if 50 <= x else 0)

In [149]:
#df_pass_td_gid[['gid','psr','trg']].groupby(['gid','psr','trg']).agg(['count'])
df_pass_td_gid

         pid   gid  yds_y      psr      trg  40_yd_td  50_yd_td
0         75     1     44  CC-1400  TM-0900         1         0
1         98     1     48  CC-1400  SJ-0400         1         0
2       1051     7     48  CM-2200  MR-1400         1         0
3       1819    12     53  TB-0200  QI-0100         0         1
4       2365    15     72  KW-0500  MF-0300         0         1
5       2379    15     80  KW-0500  AH-0200         0         1
6       2450    16     45  MB-4500  JS-4400         1         0
7       2465    16     43  MB-4500  JS-4400         1         0
8       2608    16     40  MB-4500  JS-4400         1         0
9       3414    21     50  PM-0200  MH-1200         0         1
10      4345    27     58  SK-0400  JG-3200         0         1
11      4612    29     47  RC-2800  JM-3500         1         0
12      5436    34     50  CB-0900  GC-1000         0         1
13      6247    39     74  RJ-1200  JM-3000         0         1
14      6256    39     45  VT-0200  MC-2100         1         0
15      6519    41     49  JB-3800  KP-0900         1         0
16      6700    42     78  KW-0500  IB-0200         0         1
17      6956    44     76  RC-2800  CW-0700         0         1
18      7135    45     55  BF-0100  BS-1100         0         1
19      7325    46     80  KW-0500  TH-2300         0         1
20      7379    46     85  KW-0500  TH-2300         0         1
21      7388    46     66  KW-0500  IB-0200         0         1
22      7674    48     55  CM-2200  MR-1400         0         1
23      7829    49     68  JG-0600  JR-2000         0         1
24      8099    51     53  JF-1400  BE-0500         0         1
25      8730    55     68  JK-1500  DJ-0100         0         1
26      9188    58     76  PM-0200  MH-1200         0         1
27      9496    59     40  RJ-1200  EM-1800         1         0
28      9991    63     44  DB-2600  TB-3300         1         0
29     10135    63     43  BG-1900  TM-2100         1         0
...      ...   ...    ...      ...      ...       ...       ...
1671  685794  4188     66  AM-1150  AG-1500         0         1
1672  686013  4189     49  RW-3850  TL-1025         1         0
1673  686151  4190     80  BB-2425  AH-3900         0         1
1674  686292  4191     44  AS-1600  AW-1650         1         0
1675  686561  4193     74  CN-0500  TG-0900         0         1
1676  686578  4193     46  CN-0500  TG-0900         1         0
1677  687290  4197     47  RT-0150  KS-2350         1         0
1678  687326  4197     84  EM-0200  OB-0075         0         1
1679  687388  4198     60  CK-0250  KB-1900         0         1
1680  688491  4204     57  ZM-0150  DW-0500         0         1
1681  688605  4205     77  KC-2350  DJ-0200         0         1
1682  688622  4205     48  TT-0500  SW-0450         1         0
1683  688752  4206     48  JC-3100  KA-0400         1         0
1684  689202  4209     61  BO-0650  ES-0200         0         1
1685  689850  4212     78  SB-1100  JM-1550         0         1
1686  691278  4221     71  DB-3800  BC-2325         0         1
1687  691351  4221     44  DB-3800  TC-0050         1         0
1688  691355  4221     90  BB-2425  AR-1250         0         1
1689  691809  4224     50  JW-5650  CS-1950         0         1
1690  691878  4224     43  JW-5650  AS-0550         1         0
1691  691972  4225     70  MR-2500  JJ-4700         0         1
1692  692462  4228     72  EM-0200  RR-0130         0         1
1693  693053  4232     42  MR-2500  TM-3000         1         0
1694  693722  4236     57  JF-3100  CF-0650         0         1
1695  693966  4237     71  CM-1500  RR-1150         0         1
1696  694126  4238     45  EM-0200  RR-0130         1         0
1697  694497  4241     72  BO-0650  DT-0900         0         1
1698  694626  4241     80  PR-0300  TW-2875         0         1
1699  696320  4251     41  AR-1300  JJ-0775         1         0
1700  696881  4255     86  CN-0500  CB-3850         0         1

[1701 rows x 7 columns]

In [24]:
def qb_points():
    #Passing points
    pass_yrds = df_all_offense_2015['py']/5*.2
    pass_40_tds = 
    pass_50_tds = 
    pass_tds = df_all_offense_2015['tdp']*4
    pass_ints = df_all_offense_2015['ints']*-2
    pass_two_pt =
    
    #Rushing points
    rush_yrds = 
    rush_tds = 
    rush_40_tds = 
    rush_50_tds = 
    rush_two_pt =
    
    #Receiving yards =