In [1]:
%matplotlib inline

import pymysql
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import scale
from IPython.display import display, HTML

In [284]:
conn = pymysql.connect(host='104.196.5.55', user='root', passwd='', db='nfl')
cur = conn.cursor()

In [285]:
def query_sql(tbl_name):
    strSQL = ("Select * from " + tbl_name)
    df = pd.DataFrame(pd.read_sql(strSQL,conn,params=None))
    return df

#Clean this up with dictionary
df_td = query_sql("td")
df_pass = query_sql("pass")
df_offense = query_sql("offense")
df_play = query_sql("play")
df_player = query_sql("player")

df_offense = df_offense[['uid','gid','player','py','ints','tdp','ra','sra','ry','tdr','trg','rec','recy','tdrec','ret','rety','tdret','fuml','conv']]
df_player = df_player[['player','pname','pos1']]
df_play = df_play[['gid','pid']]

In [294]:
#Inner join pass table and td table on play id to get passer
#Keep pid, yds_y, psr, trg
df_pass_td = pd.merge(df_td,df_pass,how='inner',on='pid')

#df_pass_td should have all plays that are tds, we subset to only get td passes 40 yards and over

df_pass_td = df_pass_td[['pid','yds_y','psr','trg']]
df_pass_td = df_pass_td[df_pass_td['yds_y']>39]

#Merge new pass td table with play table to get gid
df_pass_td_gid = pd.merge(df_pass_td,df_play,how='left',on='pid')

#Create binary for 40 yard and 50 yard td
df_pass_td_gid['40_yd_td'] = df_pass_td_gid['yds_y'].map(lambda x: 1 if 40 <= x else 0)

In [296]:
df_offense_player = pd.merge(df_offense,df_player,how='inner',on='player')

In [299]:
qb40 = pd.DataFrame(df_pass_td_gid.groupby(['gid','psr'])['40_yd_td'].agg(np.sum))
qb40 = qb40.add_suffix('_Count').reset_index()
df_offense = pd.merge(df_offense_player,qb40,how='left',left_on=['player','gid'],right_on=['psr','gid'])
df_offense['40_yd_td_Count'] = df_offense['40_yd_td_Count'].fillna(0)

In [300]:
df_offense

,uid,gid,player,pa,pc,py,ints,tdp,ra,sra,...,seas,year,team,posd,jnum,dcp,pname,pos1,psr,40_yd_td_Count
0,1,1,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
1,498,25,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
2,859,42,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
3,1001,49,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
4,1363,67,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
5,1710,84,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
6,1830,90,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
7,2123,104,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
8,2524,124,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
9,2772,136,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
10,3141,154,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
11,3497,170,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
12,4086,199,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
13,4399,214,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
14,4748,231,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
15,4800,234,KW-1500,0,0,0,0,0,0,0,...,8,2000,SF,NA,0,0,K.Williams,WR,NaN,0
16,55743,2691,KW-1500,0,0,0,0,0,0,0,...,18,2010,SF,NA,0,0,K.Williams,WR,NaN,0
17,55982,2703,KW-1500,0,0,0,0,0,0,0,...,18,2010,SF,NA,0,0,K.Williams,WR,NaN,0
18,2,1,CG-0400,0,0,0,0,0,15,7,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
19,499,25,CG-0400,0,0,0,0,0,11,7,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
20,855,42,CG-0400,0,0,0,0,0,15,7,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
21,997,49,CG-0400,0,0,0,0,0,36,26,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
22,1357,67,CG-0400,0,0,0,0,0,21,12,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
23,1695,84,CG-0400,0,0,0,0,0,24,10,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
24,1832,90,CG-0400,0,0,0,0,0,14,5,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
25,2119,104,CG-0400,0,0,0,0,0,10,6,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
26,2515,124,CG-0400,0,0,0,0,0,10,3,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
27,2763,136,CG-0400,0,0,0,0,0,13,4,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
28,3144,154,CG-0400,0,0,0,0,0,25,12,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
29,3482,170,CG-0400,0,0,0,0,0,18,8,...,7,2000,SF,NA,0,0,C.Garner,RB,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88580,86864,4174,MA-0475,0,0,0,0,0,0,0,...,1,2015,CIN,LWR,15,3,M.Alford,WR,NaN,0
88581,86966,4179,JK-2125,0,0,0,0,0,0,0,...,2,2015,PHI,RWR,10,3,J.Krause,WR,NaN,0
88582,87740,4215,JK-2125,0,0,0,0,0,0,0,...,2,2015,PHI,RWR,10,3,J.Krause,WR,NaN,0
88583,87039,4182,MI-0200,0,0,0,0,0,0,0,...,6,2015,ARI,LG,76,1,M.Iupati,OL,NaN,0
88584,87071,4184,GW-1675,0,0,0,0,0,1,0,...,2,2015,CLE,RB,28,3,G.Winston,RB,NaN,0
88585,87138,4187,AT-1300,0,0,0,0,0,0,0,...,1,2015,TEN,RWR,86,3,A.Turzilli,WR,NaN,0
88586,87269,4193,SS-1525,0,0,0,0,0,0,0,...,2,2015,CAR,TE,80,2,S.Simonson,TE,NaN,0
88587,87392,4199,KM-2560,25,15,158,3,1,0,0,...,4,2015,DAL,QB,17,2,K.Moore,QB,NaN,0
88588,87894,4223,KM-2560,31,13,186,1,0,1,0,...,4,2015,DAL,QB,17,2,K.Moore,QB,NaN,0
88589,88185,4237,KM-2560,48,33,435,2,3,1,0,...,4,2015,DAL,QB,17,2,K.Moore,QB,NaN,0
88590,87496,4204,JI-0650,0,0,0,0,0,14,9,...,1,2015,NE,RB,47,2,J.Iosefa,RB,NaN,0
88591,87752,4216,JI-0650,0,0,0,0,0,1,0,...,1,2015,NE,RB,47,2,J.Iosefa,RB,NaN,0
88592,87525,4205,NO-0150,0,0,0,0,0,0,0,...,1,2015,BUF,TE,84,3,N.O'Leary,TE,NaN,0
88593,87910,4223,NO-0150,0,0,0,0,0,0,0,...,1,2015,BUF,TE,84,3,N.O'Leary,TE,NaN,0
88594,88054,4230,NO-0150,0,0,0,0,0,0,0,...,1,2015,BUF,TE,84,2,N.O'Leary,TE,NaN,0
88595,87544,4206,TM-0225,0,0,0,0,0,2,1,...,1,2015,BAL,RB,30,3,T.Magee,RB,NaN,0
88596,87612,4209,TS-1450,0,0,0,0,0,1,0,...,1,2015,DEN,QB,3,2,T.Siemian,QB,NaN,0
88597,87804,4218,JP-4150,0,0,0,0,0,1,1,...,3,2015,CLE,FS,33,2,J.Poyer,DB,NaN,0
88598,87805,4218,MS-0550,0,0,0,0,0,0,0,...,4,2015,CLE,RT,72,1,M.Schwartz,OL,NaN,0
88599,87829,4219,MH-2150,0,0,0,0,0,0,0,...,2,2015,MIA,RWR,83,2,M.Hazel,WR,NaN,0
88600,87855,4221,SJ-0750,0,0,0,0,0,0,0,...,2,2015,NO,LWR,15,3,S.Jones,WR,NaN,0
88601,88017,4228,BE-0150,0,0,0,0,0,0,0,...,1,2015,NYG,LWR,83,3,B.Edwards,WR,NaN,0
88602,88018,4228,ML-0050,0,0,0,0,0,0,0,...,1,2015,NYG,TE,41,3,M.LaCosse,TE,NaN,0
88603,88178,4236,TW-2862,0,0,0,0,0,2,1,...,1,2015,IND,RB,40,3,T.Williams,RB,NaN,0
88604,88180,4236,AT-0160,14,10,99,0,1,0,0,...,4,2015,TEN,QB,11,2,A.Tanney,QB,NaN,0
88605,88202,4237,JH-3210,0,0,0,0,0,1,1,...,3,2015,DAL,FS,38,1,J.Heath,DB,NaN,0
88606,88272,4240,CS-0250,1,1,3,0,0,0,0,...,2,2015,KC,P,5,2,C.Santos,K,NaN,0
88607,88317,4242,KW-1175,0,0,0,0,0,1,1,...,1,2015,SEA,LWR,18,3,K.Williams,WR,NaN,0
88608,88341,4243,MB-3862,0,0,0,0,0,4,2,...,1,2015,STL,RB,39,5,M.Brown,RB,NaN,0
88609,88529,4252,DS-1730,0,0,0,0,0,1,1,...,4,2015,SEA,RCB,35,1,D.Shead,DB,NaN,0

In [264]:
#def qb_points():

#Passing points
pass_yrds = df_offense['py']/5*.2
df_offense['pass_yds'] = df_offense['py']/5*.2

pass_40_tds = df_offense['40_yd_td_Count']*.5
df_offense['pass_40_tds'] = df_offense['40_yd_td_Count']*.5

pass_tds = df_offense['tdp']*4
pass_ints = df_offense['ints']*-2
two_pt = df_offense['conv']*2

rush_yds = df_offense['ry']*.1
fuml = df_offense['fuml']*-1

df_offense['points'] = pass_yrds + pass_tds + pass_ints + pass_40_tds + two_pt + rush_yds + fuml
    #pass_two_pt = 
    
    #Rushing points
    #rush_yrds = 
    #rush_tds = 
    #rush_40_tds = 
    #rush_50_tds = 
    #rush_two_pt =
    
    #Receiving yards =

In [265]:
df_test = df_offense[df_offense.player == 'MM-0912']
df_test = df_test[['gid','player','points','conv','ry','pass_40_tds']]
df_test

        gid   player  points  conv   ry  pass_40_tds
87965  4000  MM-0912   24.96     0    6          0.0
87966  4014  MM-0912   18.18     0   19          0.0
87967  4024  MM-0912   18.68     0    0          0.0
87968  4061  MM-0912   10.18     0   47          0.0
87969  4075  MM-0912    6.76     0    0          0.0
87970  4112  MM-0912   33.34     1    5          0.0
87971  4125  MM-0912    7.80     0   24          0.0
87972  4136  MM-0912   12.14     0   29          0.0
87973  4159  MM-0912   19.42     1    7          0.0
87974  4175  MM-0912   31.42     0  112          0.5
87975  4187  MM-0912   11.26     1    3          0.0
87976  4204  MM-0912    0.28     0    0          0.0

In [248]:
df_offense.columns

Index([           u'uid',            u'gid',         u'player',
                   u'pa',             u'pc',             u'py',
                 u'ints',            u'tdp',             u'ra',
                  u'sra',             u'ry',            u'tdr',
                  u'trg',            u'rec',           u'recy',
                u'tdrec',            u'ret',           u'rety',
                u'tdret',           u'fuml',           u'peny',
                 u'conv',            u'snp',             u'fp',
                  u'fp2',            u'fp3',           u'game',
                 u'seas',           u'year',           u'team',
               u'posd_x',         u'jnum_x',          u'dcp_x',
                u'fname',          u'lname',          u'pname',
                 u'pos1',           u'pos2',         u'height',
               u'weight',            u'yob',          u'forty',
                u'bench',       u'vertical',          u'broad',
              u'shuttle',           u'cone',           u'dpos',
                  u'col',             u'dv',          u'start',
                u'cteam',         u'posd_y',         u'jnum_y',
                u'dcp_y',            u'psr', u'40_yd_td_Count',
               u'points'],
      dtype='object')